VITE_SUPABASE_URL=https://wpryhjhfgmggvvyamyfi.supabase.co
VITE_SUPABASE_ANON_KEY=
GEMINI_API_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_MANAGEMENT_TOKEN=
VITE_SUPABASE_PROJECT_REF=wpryhjhfgmggvvyamyfi

# Evolution API
VITE_EVOLUTION_API_URL=
VITE_EVOLUTION_API_KEY=
VITE_EVOLUTION_INSTANCE_NAME=
